@use "./src/styles/variables";
.profile-edit {
    align-items: start;
    flex-wrap: nowrap;
    &__cover {
        width: 100%;
        height: 150px;
        margin-bottom: 10px;
    }
    &__avatar {
        width: 100px;
        height: 50px;
        background-color: red;
    }
    &__modal {
        min-height: 100px;
        align-items: center;
    }
    &__wrong-img-size {
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
