.filter {
  padding: 0 25px;
  margin-top: 30px;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-evenly;

  &__result {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.pagination {
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  width: 100%;
  &__link{
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #00D1FF;
      height: 25px;
      width: 25px;
    cursor: pointer;
    }
  &--active {
    background: #00D1FF;
    color: white;
  }
}
.previous, .next {
  padding: 5px;
  background: #00D1FF;
  color: white;
}

.container {
  width: 100%;
}
