@use 'src/styles/variables';
.login-text {
  font-size: variables.$small-font-size;
}

.login-btn {
  margin-left: 5px;
  font-size: variables.$small-font-size;
  font-weight: 700;
  &:link{
    color: #00D1FF;
  }
  &:visited {
    color: #002cbb;
  }
}
