.plan-anime-list {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 35px;
    margin-top: 25px;
    padding: 15px 35px;
    &__show-all {
        align-self: center;
    }
}

@media (max-width: 420px) {
    .plan-anime-list {
        padding: 5px 10px;
    }
}
