@use 'styles/normalize.css';
@use 'src/styles/variables';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: variables.$main-font-size;
  background: #F4F4F4;
}

.app{

}

@media (max-width: 540px) {
  body {
    font-size: 12px;
  }
}
